<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Angular Expressions</title>
</head>
<body>
	<div ng-app = "" ng-init = "quantity = 1; cost = 30; student = {fname:'mahesh',
	lname:'choudari', rollno:101}; marks=[60, 70, 59, 89, 98, 79]">
	<p>Hello, {{student.fname + " " + student.lname}}</p>
	<p>Expense on books : {{quantity * cost}}</p>
	<p>Roll No : {{student.rollno}}</p>
	<p>Marks : {{marks[0] + ", " + marks[1] + ", " +marks[2] + ", " + marks[3] + ", " +marks[4] + ", " + marks[5]}}</p>
	
	</div>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
	</script>
</body>
</html>