<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>disable, click, show and hide buttons</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app="">
	<table border="0">
		<tr>
			<td><input type="checkbox" ng-model = "enableDisableBtn">Disable</td>
			<td> <button ng-disabled = "enableDisableBtn">ClickMe!</button> </td>
		</tr>
		<tr>
			<td><input type="checkbox" ng-model = "showHide">Show/Hide</td>
			<td><button ng-show="showHide">ClickMe!</button></td>
		</tr>
		
		<tr>
			<td><input type="checkbox" ng-model = "hide">Hide Button</td>
			<td><button ng-hide="hide">HideMe!</button> </td>
		</tr>
		<tr>
			<td>Total Clicks: {{count}}</td>
			<td><button ng-click = "count = count + 1000" ng-init = "count = 99">ClickMe!</button></td>
		</tr>
	</table>
</body>
</html>