<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AngularJS Forms</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<style>
table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

table tr:nth-child(odd) {
	background-color: #f2f2f2;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}
</style>
</head>
<body>
	<h4>AngularJS Forms application</h4>
	<div ng-app="myapp" ng-controller="studentController">
		<form name="studentForm" novalidate>
			<table border="0">
				<tr>
					<td>Enter First Name :</td>
					<td><input type="text" name="fname" ng-model="firstName" > 
						<span style="color: red" ng-show="studentForm.fname.$dirty">
							First name got changed/touched.
							<!-- <span style="color: red" ng-show="studentForm.fname.$error.required">
								First Name is required.
							</span> -->
						</span>
					</td>
				</tr>
				
				<tr>
					<td>Enter Last Name:</td>
					<td><input name = "lname" type = "text" ng-model = "lastName" required>
						<span style = "color:red" ng-show = "studentForm.lname.$invalid ">
							invalid last name.
							<!-- <span ng-show = "studentForm.lname.$error.required">Last name is required</span> -->
						</span>
					</td>
				</tr>
				<tr>
					<td>Enter Email id: </td>
					<td><input type = "text" name = "email" ng-model = "email" required>
						<span style="color:red" ng-show = "studentForm.email.$dirty && studentForm.email.$invalid">
							Email is required
						</span>
					</td>
				</tr>
				<tr>
					<td><button ng-click="reset()">reset</button></td>
				</tr>

			</table>
		</form>

	</div>

	<script>
		var mainApp = angular.module("myapp", []);
		mainApp.controller("studentController", function($scope){
			/* $scope.firstName = "Nagaraj"; */
			$scope.reset = function(){
				$scope.firstName = "Alice";
				$scope.lastName = "Katerine";
				$scope.email = "alice.katerine@tavant.com";
			}
			$scope.reset();
		});
	</script>

</body>
</html>