<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AndularJS controller</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>
</head>
<body>
	<div ng-app = "mainApp" ng-controller = "studentController">
		Enter fname : <input type = "text" ng-model = "student.fname"> <br>
		Enter lname : <input type = "text" ng-model = "student.lname"> <br>
		Full name : {{student.fullname() | uppercase}}
	</div>

	<script >
		var mainApp = angular.module("mainApp", []);
		mainApp.controller("studentController", function($scope){
			$scope.student = {fname: "", lname: "",
					fullname: function(){
						var studentFullname;
						studObj = $scope.student;
						return studObj.fname + " " + studObj.lname;
					}
			};
			
		});
	
	</script>
	
	<div ng-app = "dapp" ng-controller = "doubleController">
		Two times of <input ng-model = "num"> equals to {{dbl(num)}}
	</div>
	
	<script>
		var doubleApp = angular.module("dapp", []);
		doubleApp.controller("doubleController", function($scope) {
			$scope.calc = {
				dbl: function(value) {return 5 * 2; }
			};
		});
	</script>
</body>
</html>