<!-- Dependancy Injection in AngularJS -->
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
</script>
</head>
<body>
	<div ng-app = "mainapp" ng-controller = "CalcController">
		Enter a Number : <input type = "text" ng-model = "num">
		<button ng-click = "square()"> Find X<sup>2</sup> </button>
		Result : {{result}}
	</div>
	
	<script >
		var app = angular.module("mainapp", []);
		
		 app.factory("MathService", function() {
			var factory = {};
			factory.multiply = function(a, b){
				return a*b;
			}
			return factory;
		}); 
		
		
		/*
		creating service using provider
		*/
		/*app.config(function($provide){
			$provide.provider('MathService', function() {
				this.$get = function() {
					var factory = {};
					factory.multiply = function(a, b) {
						return a * b;
					}
					return factory;
				}
			})
		});*/
		
		app.service("CalcService", function(MathService){
			this.square = function(a) {
				return MathService.multiply(a, a);
			}
		});
		
		app.value("defIn", "90");
		app.controller("CalcController", function($scope, CalcService, defIn){
			$scope.num = defIn;
			
			$scope.square = function() {
				$scope.result = CalcService.square($scope.num);	
			}
		});
	</script>
</body>
</html>