<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>
</head>
<body>
	<h3>Angular application </h3>
	<div ng-app = "angapp" ng-controller = "studController">
		<table border="1">
			<tr><td>Enter Fname: </td>
				<td><input type = "text" ng-model = "stud.fname"> </td>
			</tr>
			<tr><td>Enter Lname: </td>
				<td><input type = "text" ng-model = "stud.lname"> </td>
			</tr>
			<tr><td>Enter Fees: </td>
				<td><input type = "text" ng-model = "stud.fees"> </td>
			</tr>
			<tr><td>Enter Subject: </td>
				<td><input type = "text" ng-model = "subjectName"></td>
			</tr>
		</table>
		<br><br>
		<table border = "1">
			<tr>
				<td>Name Upper : </td>
				<td>{{stud.fullname() | uppercase}}</td>
			</tr>
			<tr><td>Name lower: </td>
				<td>{{stud.fullname() | lowercase}}</td></tr>
			<tr><td>Fees: </td>
				<td>{{stud.fees | currency}}</td></tr>
			<tr><td>Sujbects: </td>
			<td>
				<ul>
					<li ng-repeat = "subject in stud.subjects| filter: subjectName | orderBy: 'marks'">
						{{'Subject: ' + subject.name + ', Marks: ' + subject.marks}}
					</li>
				</ul>
			</td>
			</tr>
		</table>
	</div>
	
	<script>
		var angApp = angular.module("angapp", []);
		angApp.controller("studController", function($scope) {
			$scope.stud = {fname:"Alice", lname:"Katerine",
				fees:"600",
				subjects: [
					{name:"Maths", marks:82},
					{name:"Science", marks:90},
					{name:"Kannada", marks:105},
					{name:"Hindi", marks:78}
			],
			fullname: function(){
				var studObj;
				studObj = $scope.stud;
				return studObj.fname + " " + studObj.lname;
			}
			};
			
		});
	</script>
</body>
</html>