<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
</script>
</head>
<body>
	<form ng-app = "">
		Pick Topic : <br>
		<input type = "radio" ng-model = "rad" value="app"> app <br>
		<input type = "radio" ng-model = "rad" value="medi"> medi <br>
		<input type = "radio" ng-model = "rad" value="ngo"> ngo <br>
	<div ng-switch = "rad">
		<div ng-switch-when = "app">
			<h4>Myzee Applications</h4>
			<p>Welcome the hub of myzee applications</p>
		</div>
		<div ng-switch-when = "medi">
			<h4>Medical Services</h4>
			<p>Welcome to your trust of medical services, Happy to serve you</p>
		</div>
		<div ng-switch-when = "ngo">
			<h4>NGO Services</h4>
			<p>Welcome to you social responsible activities, we come here to join your hand</p>
		</div>
	</div>	
	</form>
</body>
</html>