<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>
</head>
<body>
	<div ng-app = "myapp" ng-controller="DoubleController">
	 	Two times <input ng-model="num"> equals {{ double(num) }}
	</div>

	<script>
		var myApp = angular.module('myapp',[]);

		myApp.controller('DoubleController', ['$scope', function($scope) {
	  		$scope.double = function(value) { return value * 2; };
		}]);
	</script>
</body>
</html>