<html>
   <head>
      <title>AngularJS Directives</title>
   </head>
   
   <body>
      <h4>Sample Application</h4>
      
      <div ng-app = "" ng-init = "countries = [{locale:'en-US',name:'United States', code:'0'}, 
         {locale:'en-GB',name:'United Kingdom', code:'1'}, {locale:'en-FR',name:'France', code:'2'}]"> 
         <p>Enter your Name: <input type = "text" ng-model = "name"></p>
         <p>Hello <span ng-bind = "name"></span>!</p>
         <p>List of Countries with locale:</p>
      
         <ol>
            <li ng-repeat = "country in countries">
               <!-- {{ 'Country: ' + country.name + ', Locale: ' + country.locale }} -->
               {{ 'Code: ' + country.code + ',  Name: ' + country.name + ',  Locale: ' + country.locale}}
            </li>
         </ol>
      </div>
      
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
      </script>
      
   </body>
</html>