<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
</head>
<body>

	<h3>Sample Angular Application</h3>
	<div  ng-app = "">
		<p>Enter Name = <input type = "text" ng-model = "name"> </p>
		<p>Hello, <span ng-bind = "name"></span></p>
	</div>
</body>
</html>