<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Angular Application</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
</head>
<body ng-app = "myapp">
	<div ng-controller = "HelloController">
		<h2>Welcome to {{helloTo.title}}, the {{helloTo.where}} of web magic</h2>
	</div>
	
	<script>
		angular.module("myapp", [])
		.controller("HelloController", function($scope) {
			$scope.helloTo = {};
			$scope.helloTo.title = "AngularJS";
			$scope.helloTo.where = "jurasic world"
		});
	</script>
	
</body>
</html>