<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
</script>
</head>
<body>
	<div ng-app = "mainapp" ng-controller = "calcController">
		<p>Enter the Number : <input type = "text" ng-model = "number"> 
		</p>
		<button ng-click = "square()">X<sup>2</sup> </button> Result : {{result}}
		<p>
		<button ng-click = "cube()">X<sup>3</sup> </button> Result : {{result3}}
		</p>
	</div>
	
	<script >
		var app = angular.module("mainapp", []);
		
		app.factory("MathService", function(){
			var factory = {};
			
			factory.multiply = function(a, b){
				return a * b;
			}
			
			factory.cube = function(a) {
				return a * a * a;
			}
			return factory;
		});
		
		app.service("CalcService", function(MathService) {
			this.square = function(num) {
				return MathService.multiply(num, num);
			}
			this.cube = function(num) {
				return MathService.cube(num);
			}
		});
		
		app.controller("calcController", function($scope, CalcService) {
			/* $scope.square = function() {
				 $scope.result = $scope.number * $scope.number;
				 return $scope.result;
			} */
			
			$scope.square = function() {
				$scope.result = CalcService.square($scope.number);
			}
			
			$scope.cube = function() {
				$scope.result3 = CalcService.cube($scope.number);
			}
		});
	</script>
	

</body>
</html>