<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>
</head>
<body>
	<div ng-app = "">
		<button ng-click = "count = count +1 " ng-init = "count = 0">
			increment
		</button>
		<span>
			count : {{count}}
		</span>
	</div>
</body>
</html>