<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
</script>
</head>
<body ng-app = "mainapp">
	<div ng-controller = "shapeController">
		{{message}} , type: {{type}}
	<div ng-controller = "circleController">
		{{message}} , type: {{type}}
	</div>
	<div ng-controller = "squareController">
		{{message}} , type : {{type}}
	</div>
	</div>
	<script>
		var mainApp = angular.module("mainapp", []);
		mainApp.controller("shapeController", function($scope) {
			$scope.message = "This is Shape controller";
			$scope.type = "Shape";
		});
		
		mainApp.controller("circleController", function($scope) {
			$scope.message = "This is Circle controller";
		});
		
		mainApp.controller("squareController", function($scope) {
			$scope.message = "This is Square Controller";
			$scope.type = "Square";
		});
		
	</script>
</body>

</html>