<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
    </script>
    <script src = "/MyFirstAngularApp/src/app.js"></script>
</head>
<body ng-app = "spicyapp">

	<div ng-controller = "spicyController">
		<button ng-click = "chillySpicy()">chilly</button>
		<button ng-click = "jalapenoSpicy()">jalapeno</button>
		The food is {{spice}} spicy
	</div>

	<!-- <script>
		var spicyApp = angular.module("spicyapp", []);
		spicyApp.controller("spicyController", function($scope) {
			$scope.spice = "very";
			
			$scope.chillySpicy = function() {
				$scope.spice = "chilly";
			}
			
			$scope.jalapenoSpicy = function() {
				$scope.spice = "jalapeno";
			}
			
		});
	</script> -->
</body>
</html>